#global {
    -fx-background-image: url("merdeka_background.jpeg");
    -fx-background-size: cover;
}

#panel {
    -fx-height: 72;
    -fx-background-color: #db4949;
}

#flag,
#trishaw,
#fireworks,
#lights,
#newlights,
#people,
#all,
#gifts {
    -fx-height: 44;
    -fx-padding: 0 22 0 22;
    -fx-text-fill: #fdf25c;
    -fx-background-color: #011792;
    -fx-background-radius: 5;
}

#flag:pressed,
#trishaw:pressed,
#fireworks:pressed,
#lights:pressed,
#newlights:pressed,
#people:pressed,
#all:pressed,
#gifts:pressed {
    -fx-background-color: #0e0157;
}